{% extends "base.html.twig" %}
{% block siteTitle %}Terminarz{% endblock %}
{% block bodyClass %}dashboard schedule{% endblock %}
{% block body %}
    {% include "header.html.twig" %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Terminarz
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="schedule"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addSchift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Dodaj zmianę</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-warning" onclick="">Dodaj</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}